---
import { getCollection } from "astro:content";
import { IdToSlug } from "../../utils/hash";
import PostLayout from "../../layouts/PostLayout.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
  const postEntries = await getCollection("posts");
  return postEntries.map((entry) => ({
    params: { slug: IdToSlug(entry.id) },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);

// Generate slug for this post
const slug = IdToSlug(entry.id);
const pageUrl = `${Astro.url.origin}/posts/${slug}`;

// Conditionally set the license and banner image props
const licenseProp = entry.data.licenseName
  ? { name: entry.data.licenseName, url: entry.data.licenseUrl }
  : undefined;

const bannerImageProp = entry.data.licenseName ? entry.data.cover : entry.data.image;
---
<PostLayout
  title={entry.data.title}
  subTitle={entry.data.description}
  bannerImage={bannerImageProp}
  published={entry.data.published}
  license={licenseProp}
  author={entry.data.author}
  sourceLink={entry.data.sourceLink}
>

  <style>
  #cusdis_thread iframe {
    height: 750px;
    width: 100%;
  }
</style>

  <div class="hidden" data-pagefind-body data-pagefind-weight="10" data-pagefind-meta="title">
    {entry.data.title}
  </div>

  <div data-pagefind-body>
    <Content />
  </div>

<section class="mt-10 **min-h-96**">
  <h2 class="text-xl font-bold mb-4">Comments</h2>
  <div
    id="cusdis_thread"
    data-host="https://cusdis.com"
    data-app-id="2edf4203-e812-4053-9847-336448857933"
    data-page-id={slug}
    data-page-url={pageUrl}
    data-page-title={entry.data.title}
    data-theme="dark"
  ></div>

    <script>
      const htmlElement = document.documentElement;
      const isDark = htmlElement.classList.contains('dark') || htmlElement.getAttribute('data-theme') === 'dark';
      const cusdisThread = document.getElementById('cusdis_thread');
      if (cusdisThread) {
        cusdisThread.setAttribute('data-theme', isDark ? 'dark' : 'light');
      }
    </script>

    <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>

  </section>
</PostLayout>
